.container {
    width: 70%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.boxTop {
    height: 40px;
    width: auto;
    background-color: green;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 39px;
}
.boxTopUser {
    height: 40px;
    width: 350px;
    background-color: green;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 39px;
}
.userOnline {
    border: 1px solid grey;
    border-radius: 10px;
    width: 350px;
    margin: 0 auto;
}
.user {
    padding: 10px 40px;
}

.boxMedium {
    padding: 10px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px auto;
}  

.inptxt { 
    width: 330px;
    height: 27px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px auto;
    padding-left: 5px;
}
.txtPh::placeholder {
    color: red;
}

/* .inptxt:valid {
    box-shadow: 0px 0px 3px 2px rgb(67, 253, 30);

}
.inptxt:focus:invalid {
    box-shadow: 0px 0px 3px 2px rgba(255, 4, 17, 0.671);

} */
  

.inptxt:focus {
    padding-left: 5px;
    outline: none;
    box-shadow: 0px 0px 3px 2px rgba(54, 84, 255, 0.671);
}

form {
    width: 350px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    margin: 0 auto;
    height: 400px;
    border: 1px solid grey;
    border-radius: 10px;
}

#btnSbm {
    background-color: rgba(126, 216, 139, 0.938);
    /* background-color: rgba(11, 185, 37, 0.938); */
    height: 31px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: blanchedalmond;
    margin-left: 10px;
    margin-top: 4px;
    width: 330px;
}
#btnSbm:active{
    outline: none;
    box-shadow: 0px 0px 3px 2px rgba(0, 83, 0, 0.952);
}
/* #btnSbm:hover {
    background-color: rgb(26, 155, 45);
} */
#btnSbm:focus {
    box-shadow: 0px 0px 3px 2px rgb(2, 133, 9);
}
#position {
    width: 330px;
    height: 26px;
}

.agree {
    margin: 10px 0;
}
.submit {
    width: 350px;
    background-color: rgb(231, 231, 231);
    height: 39px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.signOut {
    background-color: rgba(11, 185, 37, 0.938);
    height: 31px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 130px;
    margin: 5px auto;
}
hr {
    margin: 0;
}
.out {
    text-align: center;
}
